@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

  body {
    margin: 0;
    box-sizing: border-box;
  }

  #week {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 2.5%;
  }

  .day {
    padding: 2%;
    border-style: solid;
  }
  
  .day ul li {
    display: block;
    width: 164px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* CSS for addWorkout Popup */

  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }

  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password], .form-container input[type=number] {
    width: 80%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }

  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password], .form-container input[type=number]:focus {
    background-color: #ddd;
    outline: none;
  }

  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #302f49;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 1;
  }

  .save-workouts {
    margin: auto;
    margin: 2.5%;
    text-align: center;
    background-color: #302f49;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 25%;
    margin-bottom:10px;
    opacity: 1;
  }

  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: rgb(130, 0, 0);
  }

  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 0.8;
  }

  #workoutDes {
    resize: none;
    height: 125px;
  }