extends layout

block links
    link(rel='stylesheet', href='./stylesheets/community.css')

block maincontent
    div.intro 
        h1 Welcome to the community page
        p Checkout workouts from other users below 

    div.maincontent
        ul.mainlist
            li.mainlist-item
                div.workout-title Push Workouts
                ul.workout-list
                    li 
                        h3 Workout 1: Benchpress
                        p Sets: 3
                        p Reps: 8
                    li
                        h3 Workout 2: Push-ups
                        p Sets: 3
                        p Reps: 20
                    li
                        h3 Workout 3: Incline Bench
                        p Sets: 3
                        p Reps: 12

            li.mainlist-item
                div.workout-title Pull Workouts
                ul.workout-list
                    li
                        h3 Workout 1: Pull-ups
                        p Sets: 3
                        p Reps: 8
                    li
                        h3 Workout 2: Dumbbell Rows
                        p Sets: 3
                        p Reps: 12
                    li
                        h3 Workout 3: Lat Pulldowns
                        p Sets: 3
                        p Reps: 10

            li.mainlist-item
                div.workout-title Leg Workouts
                ul.workout-list
                    li
                        h3 Workout 1: Squats
                        p Sets: 3
                        p Reps: 12
                    li
                        h3 Workout 2: Calf Raises
                        p Sets: 3
                        p Reps: 20
                    li
                        h3 Workout 3: Lunges
                        p Sets: 3
                        p Reps: 10

            li.mainlist-item
                div.workout-title Pull Workouts
                ul.workout-list
                    li
                        h3 Workout 1: Pull-ups
                        p Sets: 3
                        p Reps: 8
                    li
                        h3 Workout 2: Dumbbell Rows
                        p Sets: 3
                        p Reps: 12
                    li
                        h3 Workout 3: Lat Pulldowns
                        p Sets: 3
                        p Reps: 10

            li.mainlist-item
                div.workout-title Pull Workouts
                ul.workout-list
                    li
                        h3 Workout 1: Pull-ups
                        p Sets: 3
                        p Reps: 8
                    li
                        h3 Workout 2: Dumbbell Rows
                        p Sets: 3
                        p Reps: 12
                    li
                        h3 Workout 3: Lat Pulldowns
                        p Sets: 3
                        p Reps: 10
                
            li.mainlist-item
                div.workout-title Leg Workouts
                ul.workout-list
                    li
                        h3 Workout 1: Squats
                        p Sets: 3
                        p Reps: 12
                    li
                        h3 Workout 2: Calf Raises
                        p Sets: 3
                        p Reps: 20
                    li
                        h3 Workout 3: Lunges
                        p Sets: 3
                        p Reps: 10