extends layout

block links
    link(rel='stylesheet', href='./stylesheets/community.css')
    script(src='./javascripts/community.js' defer)

block maincontent
    div.intro 
        h1 Welcome to the community page
        p Checkout workouts from other users below 

    div.maincontent
        ul.mainlist