extends layout

block links
  link(rel='stylesheet', href='./stylesheets/index.css')

block maincontent
  div.intro 
    h1 Welcome to our Workout Planner 
    p Add workouts to the weekly calendar below 
  div#week
    div.day Sunday
      ul#list0
    div.day Monday
      ul#list1
    div.day Tuesday
      ul#list2
    div.day Wednesday
      ul#list3
    div.day Thursday
      ul#list4
    div.day Friday
      ul#list5
    div.day Saturday
      ul#list6
