doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
    
    block links
    
  body 
    header.header
      a(href="./" class="logo") Workout Planner
      nav.nav-items 
        a(href="./") Planner 
        a(href="./community") Community
        if !loggedIn
          a(href="./register") Register
          a(href="./login") Login
        else
          a(href="./logout") Log Out

    main 
      block maincontent 
  
  footer.footer
    div.copy &copy; 2023 Drunken Gears
    div.bottom-links 
      div.links
        span More Info
        a(href="./") Planner
        a(href="./community") Community
        if !loggedIn
          a(href="./register") Register
          a(href="./login") Login
        else
          a(href="./logout") Log Out
