extends layout

block links
    link(rel="stylesheet" href="./stylesheets/login.css")
    script(src="./javascripts/login.js" defer)
    
block maincontent 
    .intro
        h1 Register 
        p Register to save your workouts to your account
    
    #login-prompt 

        #login-error-msg-holder
            p#login-error-msg Invalid username
                span#error-msg-second-line and/or password
        
        form(id="login-form" method="post" action="http://localhost:3000/register/")
            input(type="text" name="username" id="username-field" class="login-form-field" placeholder="Username" required)  
            input(type="text" name="password" id="password-field" class="login-form-field" placeholder="Password" required)  
            input(type="submit" value="Register" id="login-form-submit")

